<div class="main">
    <br><br>
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <img class="img" (click)="scroll()" [routerLink]="['/']" src="/assets/Sobhagya BNI Logo.jpg"
                        alt=""><br><br>


                </div><br>



                <div class="col-lg-3 col-md-6">
                    <h2>Social Media</h2>
                    <ul style="list-style: none; display: flex; margin-left: -10%;">
                        <li class="list">
                            <a style="color: white;" href="tel:+918484960062"><i
                                    class="fa-solid fa-phone     phone"></i></a>
                        </li>

                        <li class="list"> <a style="color: white;" href="https://www.facebook.com/Fittciti"
                                target="_blank"><i class="fa-brands fa-facebook facebook"></i> </a> </li>

                        <li class="list "> <a style="color: white;" href="https://www.instagram.com/fittciti.in/"
                                target="_blank"><i class="fa-brands fa-instagram  iconi"> </i> </a>
                        </li>
                    </ul>
                </div><br>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <h2>Contact Us</h2>
                        <br>
                        <p><b>Phone Number : </b>+91 94074 81877 </p>
                        <P><b>Email : </b>Digital.sobhagya@gmail.com</P>
                        <p><b>Address : </b>1st floor, Subhag city centre Malviya Nagar, Bhopal</p>
                    </ul>
                </div><br>
            </div>
            <hr>
            Copyright © 2023 All rights reserved by Saubhagya
            <span style="float: right;">Powered By:<a target="_blank" href="https://fourthdm.com/"><img width="100"
                        src="/assets/4thdmlogo.jpg" alt=""></a></span>
            <!-- <div class="text-center">
                <p>© 2023 Fittciti. All Rights Reserved.</p>
            </div> -->
            <br><br>
        </div>
    </footer>
</div>